.card-img-overlay{
    text-align: center;
    font-size: 30px;
    margin-top: 100px;
    font-style: bold;
}
.card-img-overlay,h1{
     margin-bottom: 30px;
}
.card-img-overlay,p{
    margin-bottom: 30px;
}

.nav-item1{
     margin-left: 300px;
     font-size: 19px;
}

.nav-item{
    font-size: 19px;
    margin-left: 20px;
   
}
.nav-item0{
      margin-left: 400px;
     font-size: 19px;
}
.container{
     margin-top: 30px;
}
@media only screen and (max-width: 1024px) {
 
 .nav-item0{
      margin-left: 200px;
     font-size: 19px;
}
 .nav-item1{
     margin-left: 200px;
     font-size: 19px;
}

.nav-item{
    font-size: 19px;
    margin-left: 20px;
   
}
.card-img-overlay{
    text-align: center;
    font-size: 25px;
    margin-top: 50px;
    font-style: bold;
}
.container{
    flex-direction: column;
}
}
